:root {
    color-scheme: only light;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      background-color: green;
    }
  }
#root,html,bode{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF !important;
    justify-content:center;
}