/*CalculatePage root coompnent flex */
.calculate {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: large;
    color: #8B8B8B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px 0;
    background-color: #FFFFFF !important;
}

/* 2nd stage coompnent flex */
.calculate .forwardIcon {
    justify-content: space-around;
    padding-bottom: 1rem;
}

/* 3rd stage coompnent flex */
.mainComponent img {
    height: 220px;
    width: 220px;
}

.mainComponent .heightAndWeight {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    align-content: center;
}

/* 4th stage coompnent flex */
.height,
.weight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.unit {
    display: flex;
    flex-direction: row;
    align-self: center;
    color: #2A2A2A;
}

@media only screen and (max-width: 360px) and (max-height: 740px) {}