.calculate {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: x-large;
}

.backIcon {
    display: flex;
    margin-top: 15px;
    margin-left: 150px;
}

.material-icons .arrowBackIcon {
    font-family: 'Roboto', sans-serif !important;
    font-size: 30px !important;
    color: #868686 !important;
    font-weight: bold !important;
    stroke-width: 2px !important;
}

.calculate h1 {
    margin: 0;
}

.calculate img {
    height: 220px;
    width: 220px;
}

/* .heightAndWeight {
    display: flex;
    gap: 30px;
    width: 600px;
    margin: auto;
} */
.heightAndWeight {
    display: flex;
    gap: 30px;
    width: 600px;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  
.height,
.weight {

    display: flex;
    gap: 2px;
}

.list {
    overflow-y: scroll;
    height: 145px;
    width: 80px;
    border: 1px;
    list-style-type: none;
    margin: 2px;
    padding: 3px;
}

.list li {
    opacity: .4;
}

.list::-webkit-scrollbar {
    display: none;

}

.listStyle {
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    font-size: xx-large;
}

/* .targetdlist {
    margin: 0px;
    padding: 8px;
     background-color: gray; 
     opacity: 1;
} */
.list .targetdlist {
    opacity: 1;
    margin: 0px;
    padding: 8px;
    background-color: gray;
}

.unit {
    padding-top: 45px;
}
.forwardIcon {
    display: flex;
    float: right;
    margin-top: 15px;
    margin-right: 150px;
}
.material-icons .arrowForwardIcon {
    font-family: 'Roboto', sans-serif !important;
    font-size: 30px !important;
    color: #868686 !important;
    font-weight: bold !important;
    stroke-width: 2px !important;
}