/* HomePage root coompnent flex */
.home{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: large;
  color: #8B8B8B;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* 2nd stage coompnent flex */
.home h1{
display: flex;
justify-content: space-around;
padding-top: 2.5rem;
}
.home .mainCompoent{
display: flex;
flex-direction: column;
justify-content: space-around;
gap: 1.5rem;
padding-bottom: 3rem;
}

.home .forwardIcon {
  display: flex;
  justify-content: space-around;
  align-items:flex-end;
  align-content: flex-end;
  align-self: flex-end;
}
/* 3rd stage coompnent flex */
.mainCompoent .images{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
}
.mainCompoent .genderSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #868686;
  width: 190px;
  margin: auto;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 20px;
  gap:.5rem;
}

/* 4th stage coompnent flex */
.images img{
  height: 180px;
  width: 180px;
}

.genderSelector button {
  width: 90px;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px; 
} 
.colorTransparent{
  background-color: transparent;

}


@media only screen and (max-width: 360px) and (max-height: 740px) {
}
