.backIcon {
    display: flex;
    align-self: flex-start;
}

.material-icons .arrowBackIcon {
    font-family: 'Roboto', sans-serif !important;
    font-size: 30px !important;
    color: #868686 !important;
    font-weight: bold !important;
    stroke-width: 2px !important;
}


.forwardIcon {
    display: flex;
    align-self: center;
}

.material-icons.custom-icon {
    color: white;
    background-color: #FF7272;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    stroke-width: 2px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}

.material-icons.custom-icon:hover {
    color: white;
    background-color: #FF7272;
}